.centrado {
    margin: auto;
    width: 4%;
    height: 33vh;
    margin-top: 15%;
    /* puedes ajustar el valor de la anchura según tus necesidades */
}

.nombreItem {
    font-size: 35px;
}

.botonBack {
    cursor: pointer;
    color: black;
}

.botonBack:hover {
    color: rgb(134, 134, 134);
    transition: 400ms all ease;
}
.precio{
    font-size: 30px;
}