.iconos{
    font-size: 25px;
    margin-right: 15px;
}
#footer{
    margin-top: auto;
    width: 100%;
}
#tituloFooter{
    margin-left: 10px;
}
#footer h2{
    font-size: 28px;
}
.iconos:hover{
    cursor: pointer;
    transform: scale(1.10);
    transition: all 300ms ease;
}